.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90rem;
  margin: 0 auto;
}

.slider__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 30%;

  .slider__slide {
    display: none;
    justify-content: space-between;
    width: 100%;

    .slider__block {
      background-color: $green;

      .slider__text {
        padding: 2rem 1rem;
      }
    }
  }

  .slider__button-prev,
  .slider__button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .slider__button-prev {
    left: -5rem;
  }

  .slider__button-next {
    right: -5rem;
  }
}